* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
@font-face {
  font-family: pp;
  src: url(font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: dd;
  src: url(font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: gg;
  src: url(font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: ll;
  src: url(font/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: ii;
  src: url(font/Inter/Inter-Medium.ttf);
}
@font-face {
  font-family: ig;
  src: url(font/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: il;
  src: url(font/Inter/Inter-Light.ttf);
}
@font-face {
  font-family: is;
  src: url(font/Inter/Inter-SemiBold.ttf);
}
nav {
  display: flex;
  background-color: hsl(0, 0%, 0%, 40%);
  justify-content: space-around;
  position: fixed;
  width: 100%;
  max-width: 500%;
  z-index: 1000;
  transition: 0.5s ease;
}

nav ul {
  display: flex;
  width: 65%;
  max-width: 100%;
  list-style: none;
  margin: 20px 0px;
  text-align: center;
  font-family: dd;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  position: relative;
  margin: 0px 40px;
}
nav ul li:after {
  content: "";
  display: block;
  padding: 10px 20px;
  width: 100px;
  position: absolute;
  margin-bottom: 20px;
  transition: 4s;
}
.dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 155px;
  background-color: white;
  transition: 4s;
}
.dropdown a {
  padding: 12px 17px;
  display: flex;
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 13px;
  transition: 4s;
}
.btnsvg {
  background: transparent;
  border: none;
  margin-left: 10px;
}
nav ul li:hover .dropdown {
  display: block;
}
nav ul li a {
  font-family: pp;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  transition: 0.5s;
}
.dropdown a:hover {
  background-color: #e7e7e7;
  transition: 1s;
}
.dropdown {
}

nav ul li:nth-child(3) a::after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease-out;
  background-color: #ffff50;
  top: 25px;
  left: 40%;
  transform: scale(1);
  width: 5px;
  height: 5px;
  border-radius: 50px;
}
nav ul li {
  display: flex;
  align-items: center;
}
.Sign {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  width: 15%;
}
.Sign a {
  font-family: pp;
  text-decoration: none;
  color: white;
  line-height: 17px;
  size: 18px;
  font-weight: 400;
}
.Sign a:hover {
  border-bottom: 1px solid rgb(240, 198, 6);
}
.Sign button {
  background-color: #e7ac14;
  padding: 6px 30px;
  border-radius: 20px;
  border: none;
  list-style: none;
}
.logo_1 {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.logo_1 img {
  width: 80%;
}
.sect_3 {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 50px;
}
.insect3 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 80px;
}
.col_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0px 19px;
}
.big_card {
  width: 100%;
  right: 0;
  position: relative;
}
.big_card h1 {
  margin-bottom: 26px;
  color: #4d4d4d;
  font-family: pp;
}
.big_card img {
  width: 100%;
  margin: 10px 0px;
}
.loadmore1 {
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 13px;
  color: #4d4d4d;
  font-family: gg;
}
.desember {
  color: black;
  margin-top: px;
  font-size: 16px;
  left: 18px;
  font-family: gg;
  font-weight: 400;
}
.card_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.loadmore2 {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 13px;
  color: #4d4d4d;
  font-family: gg;
}
.card_wrap h1 {
  color: #4d4d4d;
  font-family: pp;
  width: 100%;
  font-size: 29.6px;
}
.in_wrap {
  width: 100%;
  margin-top: 10px;
}
.in_wrap p {
  color: #4d4d4d;
  font-family: gg;
  font-size: 19px;
}

.artikel1 {
  display: flex;
  width: 100%;
  margin: 80px 0px 0px 0px;
}
.in_artikel1 {
  width: 100%;
}
.in_artikel1 h1 {
  color: #4d4d4d;
  font-family: dd;
  font-size: 29.7px;
  margin-bottom: 9px;
}
.in_artikel1 p {
  color: #4d4d4d;
  font-family: gg;
  font-size: 19px;
  margin-top: 15px;
}
.in_artikel1 h4 {
  color: #4d4d4d;
  font-family: dd;
  font-size: 22px;
  font-weight: 500;
  margin-left: 18px;
  margin-bottom: 20px;
}
.in_artikel1 img {
  width: 100%;
}
.baca_juga1 {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.baca_juga1 h5 {
  font-family: dd;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 500;
}
.baca_juga1 a {
  font-family: dd;
  font-size: 17px;
  margin-left: 5px;
  font-weight: 700;
  color: #4d4d4d;
}
.artikel2 {
  display: flex;
  width: 100%;
}
.in_artikel2 {
  width: 100%;
}
.in_artikel2 h4 {
  color: #4d4d4d;
  font-family: ll;
}
.in_artikel2 p {
  color: #4d4d4d;
  font-family: gg;
  font-size: 19px;
}
.in_artikel2 img {
  width: 100%;
}
.card_right {
  margin: 0px 19px;
  width: 36%;
  display: flex;
  flex-direction: column;
}
.input {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 10px;
  margin-top: 66px;
}
.in_input h3 {
  font-family: pp;
  margin: 18px 0px;
  color: #4d4d4d;
}
.in_input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
  width: 80%;
}
.in_input label {
  border-bottom: 0.5px solid black;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: px;
  font-family: gg;
  font-size: 14px;
  color: #4d4d4d;
}
.in_input input {
  border: none;
  border-bottom: 0.7px solid #4d4d4d;
  background-color: transparent;
  margin-top: px;
  outline: none;
  font-family: gg;
  font-size: 10px;
}
.top_post {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.out_post h1 {
  margin: 10px 18px;
  font-family: pp;
  font-size: 20px;
  color: #4d4d4d;
}
.out_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 17px 0px;
}
.in_post {
  display: flex;
  align-items: center;
  margin: 7px 20px;
}
.in_post h2 {
  font-size: 33px;
  font-family: dd;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  color: #4d4d4dcc;
}
.informasi {
  margin: 0px 20px;
  display: block;
}
.informasi p {
  font-family: ig;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
}
.informasi a {
  font-family: il;
  font-size: 10px;
}
.sosmed {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.in_sosmed {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 95%;
}
.out_sosmed {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 18px 0px;
}
.out_sosmed h2 {
  margin-left: 0px;
  font-family: pp;
  font-size: 20px;
  color: #4d4d4d;
}
.image_sosmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_sosmed img {
  width: 31%;
  margin: 0px 4px;
}
.instagram {
  font-size: 13px;
  font-family: ll;
  margin: 0px 5px;
}
.img1 {
  display: flex;
  margin: 10px 0px;
}
.img2 {
  display: flex;
}
.in_sosmed2 {
  width: 95%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.image_sosmed2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_sosmed2 img {
  width: 31%;
  margin: 0px 5px;
}
.youtube {
  font-size: 13px;
  font-family: ll;
  margin: 0px 5px;
}
.img3 {
  display: flex;
  margin: 10px 0px;
}
.img4 {
  display: flex;
}
.link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-family: ll;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.svg img {
  width: 10%;
}
.lainnya {
  color: #4d4d4d;
  font-size: 18px;
  font-family: pp;
  font-weight: 500;
  margin-top: 28px;
  margin-bottom: 20px;
}
.in_wrap2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.in_wrap2 h1 {
  color: #4d4d4d;
  font-size: 18px;
  font-family: pp;
  font-weight: 500;
}
.card_little2 {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  background-color: #f1f1f1;
}
.card_little2 a {
  font-family: ig;
  font-size: 10px;
  color: #3a3a3a;
}
.card_little2 h4 {
  font-family: il;
  font-weight: 600;
  color: #151515;
  font-size: 11px;
  margin: 7px 0px;
}
.card_little2 div {
  width: 85%;
  margin: 25px 0px;
}
.card_little2 p {
  font-size: 10px;
  font-family: il;
  font-weight: 500;
}
.card_little2 img {
  width: 100%;
}
.col_rating {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in_rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}
.in_rating h1 {
  font-family: pp;
  color: #4d4d4d;
  font-size: 18px;
  margin-bottom: 15px;
}
.flex {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  align-items: center;
}
.rating {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rating h4 {
  color: #e7ac14;
  font-family: pp;
  font-weight: 700;
  font-size: 12px;
}
.rating {
  color: #4d4d4dcc;
  font-family: gg;
  font-size: 10px;
}
.news {
  display: block;
  margin-left: 10px;
}
.news p {
  color: #151515;
  font-family: ig;
  font-size: 11.5px;
  margin-bottom: 5px;
}
.news a {
  color: #4d4d4d;
  font-family: ig;
  font-size: 8px;
}
.icon_me {
  display: flex;
  align-items: center;
  margin: 90px 0px;
}
.icon_me img {
  cursor: pointer;
}
.icon_me p {
  color: #4d4d4d;
  font-family: dd;
  display: flex;
  font-size: 15px;
}
.icon {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.share {
  width: 12%;
  margin: 0px 5px;
}

.fb {
  width: 8%;
  margin: 0px 5px;
}
.ig {
  width: 12%;
  margin: 0px 5px;
}
.tw {
  width: 12%;
  margin: 0px 5px;
}
.tele {
  width: 12%;
  margin: 0px 5px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-left: 20%;
  margin-top: px;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  font-family: dd;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: 1s;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s;
}
.btn img {
  width: 13%;
  margin-right: 10px;
}
.col_rekomendasi {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 30px 0px;
  position: relative;
}
.col_rekomendasi h1 {
  margin: 0px 0px 50px 0px;
  color: #4d4d4d;
  font-family: pp;
  font-size: 20px;
  position: relative;
}
.in_col_rekomendasi {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.img_rekomendasi {
  width: 31%;
  margin: 0px 0px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: 0.9s ease-in-out;
}
.img_rekomendasi:hover {
  transform: scale(1.2);
  transition: 0.9s ease-in-out;
}
.img_rekomendasi a {
  font-family: ig;
  font-size: 10px;
  color: #3a3a3a;
}
.img_rekomendasi h4 {
  font-family: il;
  font-weight: 600;
  color: #151515;
  font-size: 11px;
  margin: 7px 0px;
}
.img_rekomendasi div {
  width: 85%;
  margin: 25px 0px;
}
.img_rekomendasi p {
  font-size: 10px;
  font-family: il;
  font-weight: 500;
}
.img_rekomendasi img {
  width: 100%;
}
.coment {
  margin: 70px 0px 50px 0px;
}
.coment h1 {
  font-family: dd;
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}
.in_coment {
  position: relative;
}
.in_coment img {
  width: 2%;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
}
.in_coment button {
  background: transparent;
  border: none;
}
.in_coment::after {
  content: attr(data-required);
  position: absolute;
  right: 25px;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
  font-family: gg;
  color: #4d4d4d;
}
.inputdata {
  margin-top: 15px;
  padding: 5px 0px;
  border: none;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #4d4d4d;
  outline: none;
  background: transparent;
  font-family: gg;
  color: #4d4d4d;
  font-size: 14px;
}
.profile {
  display: block;
}
.in_profile {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.in_profile img {
  width: 9%;
}
.text_profile {
  margin-left: 15px;
}
.text_profile h3 {
  font-family: dd;
  font-size: 20px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 5px;
}
.text_profile a {
  font-family: gg;
  font-size: 11px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 10px;
}
.text_profile p {
  font-family: ll;
  font-size: 14px;
  color: #1e1e1e;
  margin: 5px 0px;
}
.footer {
  background-color: #e7ac14;
  box-shadow: 1px 0px 10px 0px grey inset;
}
.col_9 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.in_col9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.number_1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
}
hr {
  background-color: black;
  border: none;
  height: 1px;
}
.number_1 img {
  margin-bottom: 50px;
  width: 25%;
}
.number_1 p {
  font-family: ll;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 400;
}
.number_2 {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}
.number_2 h2 {
  font-family: pp;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #3c3c3c;
}
.number_2 a {
  font-family: ll;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  color: #3c3c3c;
  text-decoration: none;
}
.last {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}
.footer_logo {
  display: flex;
  list-style: none;
}
.footer_logo li {
  background-color: #1e1e1e;
  margin: 0px 5px;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copyright {
  color: #1e1e1e;
  font-family: pp;
  font-size: 13px;
}
.tentang {
  width: 50%;
}
.tentang a {
  margin: 0px 19px;
  font-family: dd;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
